/* width */
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important; 
  border-radius: 10px !important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6484E8 !important; 
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b93a5 !important; 
}

@import url("https://p.typekit.net/p.css?s=1&k=ryc8beu&ht=tk&f=14032.14034.14036.21512&a=2153897&app=typekit&e=css");

@font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }
  
  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
  }
  
  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;
  }
  
  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:200;
  }
  
  .tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; } 
   
  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Playfair+Display:ital@1&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Playfair+Display&display=swap');

hr{
  height: 2px;
  border: solid 1px;
}
body{
  font-family: "aktiv-grotesk",sans-serif !important;
  font-weight:normal;
  font-weight: 400;
  margin: 0%;
  padding: 0%;
}
h1{
  font-size: 3em !important;
}
h2{
  font-size: 2em !important;
}
p{
  width: auto;
  display: block;
}
a{
  text-decoration: none !important;
}
.floatR{
  float: right;
}
.floatL{
  float: left;
}
.full{
  min-height: 100vh;
  min-width: 100vw;
}
.playfair{
  font-family: 'Playfair Display', serif;
}
.playfairItalic{
  font-family: 'Playfair Display', serif;
  font-style: italic;
}
.aktiv{
  font-family: "aktiv-grotesk",sans-serif !important;
}
.container{
  padding: 0% !important;
  width: 100vw;
}
.rosita{
  color:#ECA9FC}
.crema{
  color:#F1F2F2}
.gris{
  color:#BFC9C9}
.negro{
  color: #000000;}
.azul{
  color:#6484E8}
.lila{
  color:#9F8BEA}
.blanco{
  color: #fff;
}
.celeste{
  color:#90B7CE}
.bg-rosita{
  background-color:#ECA9FC !important}
.bg-crema{
  background-color:#F1F2F2 !important}
.bg-gris{
  background-color:#BFC9C9 !important}
.bg-negro{
  background-color: #000000 !important;}
.bg-blanco{
  background-color: #fff !important;}
.bg-azul{
  background-color:#6484E8 !important}
.bg-lila{
  background-color:#9F8BEA !important}

.under-blanco{
  border-bottom: 1px solid #fff;
}  
.under-rosita{
  border-bottom: 1px solid #ECA9FC;
}
.under-lila{
  border-bottom: 1px solid #9F8BEA;
}
.under-azul{
  border-bottom: 1px solid #6484E8;
  padding-bottom: 1px;
}
.under-negro{
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
}
.blanco-borde-negro{
  border: 2px solid #000000;
  background-color: white;
}
.border-lila{
  border: solid 1px #9F8BEA;
  padding:1.5em;
}
.border-blanco{
  border: solid 1px #fff;
  padding:1.5em;
  height: 80vh !important;
}
.border-negro-redondeado{
  border: solid 2px #000000;
  border-radius: 20px;
}
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.herramienta{
  display: block;
  width: auto;
  background-color:violet;
  color: turquoise;
}
.logo{
  height: 25px;
  width: auto;
}
.footer a{
  display: block;
}
.-ml-5{
  margin-left: 5% !important;
}
.-ml-10{
  margin-left: 10% !important;
}
.-ml-15{
  margin-left: 15% !important;
}
.ml-15{
  margin-left: 15% !important;
}
.ml-10{
  margin-left: 10% !important;
}
.-mt-1{
  margin-top: -1.1em !important;
}
.-mt-10{
  margin-top: -10% !important;
}
.-mt-15{
  margin-left: -15% !important;
}
.mb-10{
  margin-bottom: 10% !important;
}
.mt-10{
  margin-top: 10% !important;
}
.mt-15{
  margin-top: 15% !important;
}
.mt-25{
  margin-top: 25% !important;
}
.mt-45{
  margin-top: 45% !important;
}
.mt-75{
  margin-top: 75% !important;
}

.opacity-05{
  opacity: 0.5;
}

.f05{
  font-size: 0.5em !important;
}
.f06{
  font-size: 0.6em !important;
}
.f08{
  font-size: 0.8em !important;
}
.f1{
  font-size: 1em !important;
}
.f1-5{
  font-size: 1.5em !important;
}
.f2{
  font-size: 2em !important;
}
.f2-5{
  font-size: 2.5em !important;
}
.f3{
  font-size: 3em !important;
}
.f4{
  font-size: 4em !important;
}
.f5{
  font-size: 5em !important;
}

.f10{
  font-size: 10em !important;
}
.f15{
  font-size: 10em !important;
}
.misc{
   height: fit-content !important;
}
.guiaN{
  margin-bottom: -0.5em;
}

.flechaEnBorde{
  margin-bottom: -3.5em;
  margin-left: 43%;
}
.hide-sm{
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-sm{
  display: block;
  }
  .hide-md{
    display: none;
  }
  .faveTool{
    text-align: left;
  }
  .md-align-left{
    text-align: left !important;
  }
  .md-align-right{
    text-align: right !important;
  }
  h1{
    font-size: 5em !important;  
  }

  .mt-md-10{
    margin-top: 10% !important;
  }
  .mt-md-15{
    margin-top: 15% !important;
  }
  .mt-md-25{
    margin-top: 25% !important;
  }
  .mt-md-45{
    margin-top: 45% !important;
  }
  .mt-md-75{
    margin-top: 75% !important;
  }
}
