p{
    font-size: 1.5em;
}
.container{
    margin: 0% !important;
}
h1{
    z-index: 50;
}
.nota{
    font-size: x-small !important;
    z-index: 0;
    line-height: 80%;
    background-color: white;
  }
.linea{
    width: auto !important;
}
#home2{
    margin-top: 0%;
    /* margin: -8em 0em -8em 0em; */
    /* z-index: 100; */
}
.homemisc img{
    height: 40px !important;
}
.landing1{
    min-height: 100vh;
    width: 100vw;
}
.landing2{
    min-height: 100vh;
    width: 100vw;
}
.landing3{
    min-height: 100vh;
    width: 100vw;
}
#filledStar{
    margin-left: 20%;
    margin-bottom: -25%;
}
#star{
    margin-left: 70%;
    margin-top: -15%;
}
#bocaRosa{
    margin-top: 5%;
    margin-left: 35%;
}
#noNeutral{
    margin-top: 5%;
    margin-bottom: -3%;
    line-height: 90% !important;
}
#comoHablamos{
    line-height: 90% !important;
}
#quiz{
    min-height: 100vh;
    width: 100vw;
    background-image: url('../img/curlySpeechW.png'), url('../img/xgris.png');
    background-repeat: no-repeat;
    background-size: 40%,10%;
    background-position: 35% 90%,80% 15%;
}
#caja{
    min-height: 100vh;
    width: 100vw;
}
#texto{
    min-height: 100vh;
    width: 100vw;
}
#caja{
    background-image: url('../img/diccionario.png'), url('../img/bocaLila.png'),url('../img/bocaLineaRosa.png'),url('../img/blackWiggle.png');
    background-repeat: no-repeat;
    background-size: 15%,15%,15%,6%;
    background-position: 15% 90%,20%25%,65%50%,95%85%;
}
#texto{
    background-image: url('../img/Xserif.png'), url('../img/interrogacion2.png'),url('../img/A.png');
    background-repeat: no-repeat;
    background-size: 15%,15%,25%;
    background-position: 5% 40%,90%15%,95%98%;
}
#cuestionas{
    font-size: 1.5em !important;
    font-weight: 600 !important;
    border:solid 2px;
    line-height: 1.2 !important;
}
.flechaRedir{
    height: 3.5em;
}
@media only screen and (min-width: 768px) {
    .landing1{
        height: auto;
        width: 100vw;
        height: 30vh;
    }
    .landing2{
        height: auto;
        width: 100vw;
        height: 30vh;
    }
    .landing3{
        height: auto;
        width: 100vw;
        height: 30vh;
    }
    #cuestionas{
        position: absolute;
        top: 205%;
        left: 30%;
        width: 35%;
        margin: auto;
        font-size: 1.5em !important;
        font-weight: 600 !important;
        border:solid 2px;
        line-height: 95%;
    }
    .nota{
        display: none;
    }
    .linea{
        display: none;
    }
    #home1{
        position: absolute;
        top:20%;
        left: 3%;
        width: 400px;
        z-index: 0;
    }
    #home2{
        position: absolute;
        top:55%;
        left: 60%;
        width: 350px;
        z-index: 0;
    }
    #home3{
        position: absolute;
        top:100%;
        left: 35%;
        width: 400px;
        margin: 0em;
        z-index: 0;
    }
    #bajada{
        position: absolute;
        width: 350px;
        padding: 1em;
        padding-top: 2em;
        padding-right: 3em;
        height: 400px;
        top: 70%;
        left: 40%;
        font-size: 1em;
        background-image: url('../img/bajada.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    #feminismo{
        position: absolute;
        width: 350px;
        padding: 1em;
        padding-top: 2em;
        padding-left: 2.2em;
        height: 400px;
        top: 130%;
        left: 20%;
        font-size: 1em;
        background-image: url('../img/fembub.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    #lenguaje{
        position: absolute;
        width: 350px;
        padding: 1em;
        padding-top: 2.5em;
        padding-right: 3em;
        height: 400px;
        top: 155%;
        right: 15%;
        font-size: 1em;
        background-image: url('../img/lenbub.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    #lineaLengua{
        position: absolute;
        top:160%;
        left:45%
    }
    #bocaRosa{
        position: absolute;
        top:190%;
        left:50%
    }
    #bocaGris{
        position: absolute;
        top:170%;
        left:15%
    }
    #bubWiggle{
        position: absolute;
        top:100%;
        left:15%
    }
    #filledStar{
        position: absolute;
        top:245%;
        left:25%
    }
    #noNeutral{
        position: absolute;
        top:215%;
        left:28%;
        width:40%;
    }
    #quiz{
        background-image: url('../img/curlySpeechW.png'), url('../img/at.png'),url('../img/xgris.png');
        background-repeat: no-repeat;
        background-size: 20%,5%,5%;
        background-position: 20% 80%,80%40%,20%20%;
    }
    #caja{
        background-image: url('../img/diccionario.png'), url('../img/bocaLila.png'),url('../img/bocaLineaRosa.png'),url('../img/blackWiggle.png');
        background-repeat: no-repeat;
        background-size: 8%,7%,7%,7%;
        background-position: 20% 80%,20%25%,80%80%,95%15%;
    }
    #texto{
        background-image: url('../img/Xserif.png'), url('../img/interrogacion2.png'),url('../img/A.png');
        background-repeat: no-repeat;
        background-size: 5%,5%,15%;
        background-position: 5% 40%,90%15%,95%98%;
    }
}
