.fullHeight{
  height: 100vh;
}
select{
  border: none;
  /* display: block;
  width: auto;
  background-color: aliceblue; */
}
select::-ms-expand {
  display: none;
}
.options{
  background-color: aqua;
}